<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head><title>Login</title></head>
<body>
    <h2>User Login</h2>
    <div th:if="${param.error}" style="color:red">Invalid credentials!</div>
    <div th:if="${param.logout}" style="color:green">Logged out successfully.</div>
    <form th:action="@{/login}" method="post">
        Username: <input type="text" name="username" required /><br/><br/>
        Password: <input type="password" name="password" required /><br/><br/>
        <button type="submit">Login</button>
    </form>
    <br/>
    <a href="/signup">Need an account? Sign up here</a>
</body>
</html>